*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid red;
}

html{
    font-family: sans-serif;
}

li{
    list-style-type: none;
}

li a{
    text-decoration: none;

}

header{
    background-color: #0084FD;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;

    padding: 1em;
}

header div ul{
    display: flex;

    gap: 2em;
    text-transform: capitalize;
    font-size: 20px;
}

header button{
    text-transform: capitalize;
}

header div ul li a{
    color: white;
}