*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */
}

html{
    font-family: sans-serif;
}

li{
    list-style-type: none;
}

li a{
    text-decoration: none;
}

header{
    background-color: #0084FD;
}

.desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;

    padding: 1em;
}

.desktop ul{
    display: flex;

    align-items: center;

    gap: 2em;
    text-transform: capitalize;
    font-size: 20px;
}

.desktop button{
    text-transform: capitalize;
    padding: 1em;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
}

.desktop ul li a{
    color: #fff;
}

.fa-burger{
    color: #fff;
    font-size: 35px;
}

.fa-burger:hover{
    background-color: #71BBFF;
    border-radius: 5px;
}

/***************************************
    First section with features 
***************************************/

.first-section{
    width: 70%;
    margin: 3em auto;
}

.card{
    background-color: #b5ddff;
    text-align: center;
    border-radius: 20px;

    padding-top: 1em;
    padding-inline: 5em;

    line-height: 180%;
}

.upper-container button{
    color: #fff;
    background-color: #0084FD;
    border-radius: 2em;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

    padding-block: 0.5em;
    padding-inline: 1em;
    margin-top: 1em;
}

.upper-container button span{
    margin-left: 0.5em;
}

.fa-file-code,
.fa-compass-drafting,
.fa-laptop-code,
.fa-bullhorn{
    color: #0084FD;
    font-size: 60px;
}

.first-section h3{
    font-size: 35px;
    color: #0084FD;
    
    margin-top: 1em
}

.first-section p{
    color: #5A6E7F;
    font-weight: bold;

    margin-top: 3em;
    margin-bottom: 2em;
}

.flex-left{
    display: flex;
    text-align: left;  
}

.large{
    width: 66%;
}

.small{
    width: 32%;
}

.lower-container,
.upper-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.img-container{
    display: flex;
    align-items: flex-end;
}

.img-container img{
    width: 300px;
}

/***************************************
            Second section 
***************************************/

.second-section{
    background-color: #9593e6;
    width: fit-content;
}

.second-section .container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

/***************************************
    Shared properties by both sides 
***************************************/

.second-section .left-side,
.second-section .right-side{
   width: fit-content;
   margin-block: 3em;
}

.left-side h3,
.right-side h3{
    margin-block: 1em;
    font-size: 35px;
}

.right-side img,
.left-side img{
    width: 400px;
}

/***************************************
    Left side properties and attributes 
****************************************/

.second-section .left-side{
    color: #fff;
    margin-right: 3em;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.left-side p{
    line-height: 180%;

    margin-block: 1em;
}


/*****************************************
    Right side properties and attributes 
******************************************/

.second-section .right-side{
    background-color: #fff;
    border-radius: 50px;
    text-align: center;

    margin-block: 3em;
}

.second-section .right-side div{
    margin-block: 1em;
}



.right-side p{
    font-style: italic;
    line-height: 180%;

    margin-block: 1em;
}

.arrow-down{
    display: inline-block;
    background-color: #9593e6;
    color: black;
    border-radius: 50%;
    padding: 1em;
    cursor: pointer;

    width: 50px;
    
}

/***************************************
            Third section
***************************************/

.third-section {
    margin: 2em auto;

    width: 70%;
}

.third-section .title{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    gap: 2em;
}

.third-section .title span,
.third-section .title h3,
.third-section .title p{
    margin-block: 1em;
}

.third-section .title p{
    text-transform: none;
}

.third-section span{
    text-transform: capitalize;
}

.third-section h3{
    color: #9593e6;
    font-size: 40px;
}

.third-section span,
.third-section h4{
    text-transform: uppercase;
}

.profile{
    display: flex;
    background-color: #9593e6;

    margin-block: 2em;

    padding: 1em;
    border-radius: 25px;
}

.profile figure{
    margin-right: 1em;
}

.profile figure img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

    object-fit: cover;
}

.centered-text{
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;

    line-height: 180%;
    font-size: 20px;
    
}

/*****************************************************************************************************
Fourth section  - I've decided to style the flex property directly in the HTML to lighten the CSS up
******************************************************************************************************/

.fourth-section{
    background-color: #9593e6;
    
}

.fourth-section-container{
    width: 70%; 
    margin: 0 auto;
}

.fourth-section h3{
    text-align: center;

    color: #fff;
    font-size: 40px;
}

.fourth-section .benefit-card{
    background-color: #fff;
    color: #9593e6;
    border-radius: 25px;
    padding: 3em;

    margin: 1em;
    width: calc((100% / 3) - 2em);
}

.benefit-card ul li h2{
    font-size: 60px;
}
.benefit-card ul li h4{
    font-size: 30px;
}

.benefit-card ul li p{
    color: #5A6E7F;
    line-height: 160%;

    margin-bottom: 2em;
}

.benefit-card ul li a{
    background-color: #9593e6;
    border-radius: 15px;
    color: #fff;
    
    padding-block: 0.5em;
    padding-inline: 2em;
}

/***************************************
            Fifth section
***************************************/
.fifth-section{
    width: 70%;
    margin: 3em auto;

    display: flex;
}
/***************************************
        Left side properties
***************************************/
.fifth-section .left-side-text{
    width: 60%;
    line-height: 180%;
}

.fifth-section .left-side-text h2{
    color: #9593e6;
    font-size: 40px;
    
    margin-bottom: 1em;
}
.fifth-section .left-side-text p{
    margin-block: 1em;
}

/***************************************
            Right side properties
***************************************/

.right-side-text{
    width: 40%;
    text-align: center;
}

.right-side-text figure{
    position: relative;
    width: fit-content;

    margin: 0 auto;
}

.right-side-text img{
    border-radius: 50%;
    width: 200px;
    object-fit: cover;
}

.right-side-text figure span{
    position: absolute;
    right: 5%;
    top: -10%;

    font-size: 60px;
    color: #9593e6;
}

.right-side-text p{
    width: 30%;
    margin: 1em auto 2em auto;
    color: #9593e6;
    font-weight: bold;
}

.right-side-text a{
    background-color: #9593e6;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    
    padding-block: 0.5em;
    padding-inline: 2em;
}

/***************************************
            Sixth section
***************************************/        

.sixth-section .title{
    text-align: center;
    background-color: #9593e6;
    padding-block: 3em;
}

.sixth-section .title span{
    text-transform: uppercase;
    color: #5A6E7F;
    font-weight: lighter;
}

.sixth-section .title h3{
    color: #fff;
    font-size: 40px;
}

.sixth-section .title h2{
    color: #FDC15F;
    font-size: 100px;
}

.sixth-section .title p{
    color: #fff;
    width: 30%;
    margin: 0 auto;
}

.sixth-section .title button{
    background-color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 20px;

    padding: 1em 3em 1em 3em;

    margin-block: 2em;
}

.sixth-section .title button a{
    text-decoration: none;
    color: #9593e6;
} 

.sixth-section .title ul{
    display: flex;
    justify-content: center;
    gap: 2em;
    
}
.sixth-section .title ul li{
    list-style-type: disc;
    color: #fff;
}

.sixth-section .title ul li:last-child{
    text-decoration: underline;
}
.sixth-section .title ul li:first-child{
    list-style-type: none;
}


/******************************
            Footer 
*******************************/    

footer {
    background-color: #333333;
    color: white;
}

footer div {
    width: 40%;
    margin: 0 auto;
    text-align: center;

    padding-block: 3em;
}

footer p {
    margin-bottom: 2em;
}

footer span a {
    color: #9593e6;
}