*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */
}

html{
    font-family: sans-serif;
}

body{
    height: 10000px;
}

li{
    list-style-type: none;
}

li a{
    text-decoration: none;

}

header{
    background-color: #0084FD;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;

    padding: 1em;
}

header div ul{
    display: flex;

    gap: 2em;
    text-transform: capitalize;
    font-size: 20px;
}

header button{
    text-transform: capitalize;
}

header div ul li a{
    color: white;
}

/***************************************
    First section with features 
***************************************/

.first-section{
    width: 70%;
    margin: 3em auto;
}

.card{
    background-color: #b5ddff;
    text-align: center;
    border-radius: 20px;

    padding-top: 1em;
    padding-inline: 5em;

    line-height: 180%;
}

.upper-container button{
    color: white;
    background-color: #0084FD;
    border-radius: 2em;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

    padding-block: 0.5em;
    padding-inline: 1em;
    margin-top: 1em;
}

.upper-container button span{
    margin-left: 0.5em;
}

.fa-file-code,
.fa-compass-drafting,
.fa-laptop-code,
.fa-bullhorn{
    color: #0084FD;
    font-size: 60px;
}

.first-section h3{
    font-size: 35px;
    color: #0084FD;
    
    margin-top: 1em
}

.first-section p{
    color: #5A6E7F;
    font-weight: bold;

    margin-top: 3em;
    margin-bottom: 2em;
}

.flex-left{
    text-align: left;
    display: flex;
}

.large{
    width: 66%;
}

.small{
    width: 32%;
}

.lower-container,
.upper-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.img-container img{
    width: 300px;
}

/***************************************
            Second section 
***************************************/

.second-section{
    background-color: #9593e6;
}

.second-section .container{
    display: flex;
    width: 50%;
    margin: 0 auto;
}

/***************************************
    Shared properties by both sides 
***************************************/

.second-section .left-side,
.second-section .right-side{
    width: 50%;
}

.left-side h3,
.right-side h3{
    margin-block: 1em;
    font-size: 35px;
}

.right-side img,
.left-side img{
    width: 400px;
}

/***************************************
    Left side properties and attributes 
****************************************/

.second-section .left-side{
    color: white;
    margin-right: 3em;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



.left-side p{
    line-height: 180%;

    margin-block: 1em;
}


/*****************************************
    Right side properties and attributes 
******************************************/

.second-section .right-side{
    background-color: white;
    border-radius: 50px;
    text-align: center;

    margin-block: 3em;
}

.second-section .right-side div{
    margin-block: 1em;
}



.right-side p{
    font-style: italic;
    line-height: 180%;

    margin-block: 1em;
}

.arrow-down{
    display: inline-block;
    background-color: #9593e6;
    color: black;
    border-radius: 50%;
    padding: 1em;
    cursor: pointer;
}

/***************************************
            Third section
***************************************/

.third-section {
    margin-top: 2em;
}

.third-section .title{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    gap: 2em;
}

.third-section span{
    text-transform: capitalize;
}

.third-section h3{
    color: #9593e6;
    font-size: 40px;
}

.third-section span,
.third-section h4{
    text-transform: uppercase;
}

.profile{
    display: flex;
}
